.custom-navbar {
  background-color: black !important;
  width: 90vw;
  margin: 10px;
  border: 3px solid teal;
  border-radius: 10px;
}

.custom-image {
  padding-left: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.custom-intro {
  margin-top: 100px;
}

.custom {
  margin: 60px;
  width: 60vw;
  height: auto;
  background-color: transparent !important;
}

.custom-card-neon {
  margin: 0;
  padding: 0;
  border: none;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 5rem;
}

.grand-parent {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-grand-parent {
  margin: 80px;
  height: 90vh;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: right;
  font-size: 4rem;
  color: white;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  text-align: right;
  font-size: 4rem;
  color: white;
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
  text-align: left;
  font-size: 4rem;
  color: white;
}
.div6 {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  align-items: center;
}
.div7 {
  grid-area: 1 / 2 / 4 / 3;
  display: flex;
  justify-content: left;
}

.small-paras-inside {
  font-size: 1.5rem;
}

.custom-data-card {
  width: 100px;
  height: auto;
}

.data-card-parent {
  font-family: "Roboto", sans-serif;
  font-weight: 800; /* Thin */
  align-items: center;
  justify-content: left;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 510px);
  grid-template-rows: repeat(2, 160px);
  gap: 20px;
}

.div-neon {
  text-align: center;
}

.custom-card-neon {
  width: 500px;
  height: 150px;
  padding: 0px;
}

.intro {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  margin: 0px;
}

.musical-note {
  position: absolute;
  top: 7%;
  left: 4%;
  filter: blur(0px) drop-shadow(0 0 30px rgba(255, 0, 0, 0.8))
    drop-shadow(0 0 50px rgba(239, 78, 78, 0.6));
}

.arrow {
  position: absolute;
  top: 26%;
  left: 7%;
}

.rainbow {
  position: absolute;
  top: 15%;
  right: 7%;
  height: auto;
  display: block;
  margin: 50px auto;
  filter: blur(0px) drop-shadow(0 0 20px rgba(0, 255, 255, 0.7))
    drop-shadow(0 0 40px rgba(0, 255, 255, 0.5));
}

.ice-cream {
  width: 150px; /* Adjust size */
}

.text {
  font-family: "Big Shoulders Inline", sans-serif;
  font-size: 14vw;
  color: teal;
  filter: blur(0px) drop-shadow(0 0 30px rgba(0, 128, 100, 0.8))
    drop-shadow(0 0 50px rgba(0, 128, 128, 0.66));
}

.neon-container-side {
  display: flex;
  flex-direction: row;
}

.total-container {
  display: flex;
  flex-direction: column;
}

.intro-main {
  display: flex;
  color: white;
  font-size: 2vw;
  margin: 0px;
}

.custom-intro {
  font-size: 3.9vw;
}

.text2 {
  font-family: "Big Shoulders Inline", sans-serif;
  font-size: 14vw;
  color: purple;
  filter: blur(0px) drop-shadow(0 0 30px rgba(128, 0, 0, 0.8))
    drop-shadow(0 0 50px rgba(128, 0, 0, 0.66));
}

.custom-shining-card-text {
  font-size: 3.5vw;
}

.icons {
  width: 100px;
  height: 100px;
}
